body {
	font-family: "Quicksand", sans-serif;
}

button {
	padding: 10px;
	background-color: aliceblue;
	border: 1px solid gainsboro;
	border-radius: 20px;
	transition: all, 0.2s ease;
	font-size: 15px;
}

button:hover {
	cursor: pointer;
	background-color: cornflowerblue;
	color: aliceblue;
}

#inputfield {
	padding: 2px;
	font-size: 20px;
	border-radius: 20px;
	padding-left: 10px;
}

img {
	width: 200px;
	height: auto;
}

img:hover {
	cursor: pointer;
}

#colorDiv {
	border: 2px solid black;
	width: 130px;
	height: 130px;
	display: grid;
	place-content: center;
	border-radius: 10px;
	padding: 10px;
}

#colorDiv:hover {
	cursor: pointer;
}

.container {
	display: flex;
	gap: 20px;
	align-items: center;
}

.container > p {
	padding: 0;
	margin: 0;
	font-size: 20px;
}

#checkbox {
	width: 30px;
	height: 30px;
}

#checkbox:hover {
	cursor: pointer;
}
