<!DOCTYPE html>
<html>

<head>
    <title>EJS Template</title>
    <%- include ('../partials/head'); %>
</head>

<body>
    <%- include ('../partials/nav'); %>
        <h1>Welcome to my EJS template!</h1>
    <p>
        <%= user.name %>
    </p>
</body>

</html>