    <nav>
        <a href="/user">Home</a>
        <a href="/user/user_about">About</a>
        <a href="/user/user_contact">Contact</a>
        <a href="/user/display_all_users">Display All</a>
        <a href="/dashboard/display_all_employees">Dashboard</a>
    </nav>